body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: "Montserrat-Medium", sans-serif;

    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background: rgb(8, 8, 8);
}

.EditingWrapper {
    position: absolute;
    top: 75px;
    transform: translateY(-50%);
    left: 40px;
}

.Editing {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 45px;
    height: 45px;
    background-color: #0E0E0E;
    border-radius: 10px;
    border: 1px solid #171717;
    box-shadow: 0px 0px 6px #000000;
    overflow: hidden;
    transition: background-color 0.3s;
}

.Editing img {
    width: 30px;
    object-fit: contain;
    resize: both;
}

.Editing:hover {
    background-color: #333;
}

.avatar {
    position: absolute;
    top: 50px;
    left: 120px;
}

.avatarImg {
    width: 300px;
    height: 300px;
    background-color: #0E0E0E;
    border-radius: 10px;
    border: 6px solid #171717;
    box-shadow: 0px 0px 6px #000000;
    border-radius: 10px;
    pointer-events: none;
    overflow: hidden;
}

.photoEditing {
    position: absolute;
    top: 370px;
    left: 170px;
}

.photo {
    width: 200px;
    height: 40px;
    background-color: #0E0E0E;
    color: #EAEAEA;
    border-radius: 10px;
    border: 1px solid #171717;
    box-shadow: 0px 0px 6px #000000;
    border-radius: 10px;
    padding: 8px;
    transition: background-color 0.3s;
}

.photo:hover {
    background-color: #333;
}

.photoInput {
    position: absolute;
    color: #EAEAEA;
    top: 570px;
}

.UserData {
    position: absolute;
    color: #EAEAEA;
    font-size: 12px;
    top: 40px;
    left: 480px;
    
}

.UserNick,
.UserLogin,
.UserStatus {
    width: 560px;
    background-color: #0E0E0E;
    border-radius: 10px;
    border: 1px solid #171717;
    box-shadow: 0px 0px 6px #000000;
    border-radius: 10px;
    padding: 4px;
    padding-right: 40px;
        word-wrap: break-word;
            word-break: break-all

}

.inputStatus {
    width: 550px;
    height: 28px;
    background-color: #0E0E0E;
    border-radius: 10px;
    border: 1px solid #171717;
    box-shadow: 0px 0px 6px #000000;
    border-radius: 10px;
    padding: 4px;
    padding-right: 50px;
    font-size: 23px;
    font-weight: bold;
    color: white;
    text-indent: 2px;
    margin-bottom: 16px;
}

.edit {
    display: flex;
    position: absolute;
    width: 27px;
    background-color: #0E0E0E;
    color: #EAEAEA;
    border-radius: 10px;
    border: 1px solid #171717;
    box-shadow: 0px 0px 6px #000000;
    border-radius: 6px;
    padding: 4px;
    right: 1px;
    margin-top: -53px;
    transition: background-color 0.3s;
    justify-content: center;
}

.edit:hover {
    background-color: #333;
}

.pencil {
    width: 28px;
}

.exit { 
    width: 100px;
    background-color: #0E0E0E;
    color: #EAEAEA;
    border-radius: 10px;
    border: 1px solid #171717;
    box-shadow: 0px 0px 6px #000000;
    border-radius: 10px;
    padding: 8px;
    transition: background-color 0.3s;
}

.exit:hover {
    background-color: #333;
}