body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: "Montserrat-Medium", sans-serif;

    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background: rgb(8, 8, 8);
}

.email_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.isActivated {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #0E0E0E;
    border-radius: 14px;
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 4px;
    border: 1px solid #171717;
    box-shadow: 0px 0px 6px #000000;

    overflow: hidden;
}

.activate_mail {
    color: #EAEAEA;
    font-size: 19px;
    height: 10px;
}

.activate_mail_text {
    color: #8b8b8b;
    font-size: 14px;
    padding-top: 17px;
}