body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: "Montserrat-Medium", sans-serif;

    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background: rgb(8, 8, 8);
}

.MainContainer {


}
.ButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 100px;

}
.UserAuth, .UserAccept, .UserLogin{
    color: rgb(255, 255, 255);
}

.aroundSearchUsers {
    height: 700px;
    overflow-y: auto;
    scrollbar-color: #888 #333;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #8b8b8b;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: #171717;
    }
}

.aroundUser,  .aroundSearch{
    display: flex;
    position: relative;
    width: 400px;
    background-color: #0E0E0E;
    border-radius: 10px;
    padding: 10px;
    padding-top: 8px;
    padding-right: 5px;
    padding-bottom: 8px;
    border: 1px solid #171717;
    box-shadow: 0px 0px 6px #000000;

    margin: 15px;
    margin-bottom: -10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: background-color 0.3s;
}

.aroundSearch:hover {
    background-color: #333;
}

.aroundSearchNonHover:hover {
    background-color: #0E0E0E;
}

.columnUser {
    margin-left: 10px;
    margin-top: -7px;
    flex-direction: column;
}

.columnSearch {
    margin-left: 10px;
    padding-top: 4px;
    margin-bottom: 5px;
    flex-direction: column;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    pointer-events: none;
}

.UserAuth {
    position: absolute;
    color: #EAEAEA;
    font-size: 19px;
    height: 7px;
}

.EditingWrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
}

.Editing {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 35px;
    height: 35px;
    background-color: #0E0E0E;
    border-radius: 10px;
    border: 1px solid #171717;
    box-shadow: 0px 0px 6px #000000;
    overflow: hidden;
    transition: background-color 0.3s;
}

.Editing img {
    width: 20px;
    object-fit: contain;
    resize: both;
}

.Editing:hover {
    background-color: #333;
}

.MyStatus {
    position: absolute;
    color: #8b8b8b;
    font-size: 17px;
    margin-top: 34px;
    max-width: -10px;
    text-overflow: ellipsis;
}

.Status {
    position: absolute;
    color: #8b8b8b;
    font-size: 17px;
    margin-top: 20px;
    max-width: -10px;
    text-overflow: ellipsis;
}

.delChatWrapper {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    
}

.delChat {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0E0E0E;
    border-radius: 10px;
    border: 1px solid #171717;
    box-shadow: 0px 0px 6px #000000;
    color: #EAEAEA;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delChat:hover {
    background-color: #333;
}

.activeIndicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.online {
    background-color: #4CAF50;
}

.offline {
    background-color: #F44336;
}

.UserLogin {
    margin-left: 160px;
    font-size: 20px;

}

.SearchUserLogin {
    margin-left: 15px;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;

}

.SearchUser {
    width: 398px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: -10px;
    padding-left: -10;
    color: white;
    font-size: 20px;
}


.buttons {
    position: absolute;
    margin-top: 500px;
}

.getUsers {
    margin-left: 15px;
    font-size: 20px;
}


.Dialog {
    position: absolute;
    top: 0px;
    left: 450px;
}

.inputContainer {
    position: absolute;
    top: 420px;
    left: 80px;
}

.inputMessage {
    width: 550px;
    padding-left: 0px;
    padding-right: 50px;
    margin-left: 250px;
    margin-top: 450px;
    font-size: 20px;
}

.aroundMessage { 
    display: flex;
    margin: 15px;

}

.profileUser {
    background-color: #0E0E0E;
    position: absolute;
    display: flex;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    padding-top: 8px;
    padding-right: 5px;
    padding-bottom: 8px;
    border: 1px solid #171717;
    box-shadow: 0px 0px 6px #000000;
    transition: background-color 0.3s;
    white-space: nowrap;
}

.profileUser:hover {
    background-color: #333 ;
}

.messageContainer {
    margin-top: 73px;
    margin-left: -20px;
    width: 1350px;
    max-height: 700px;
    overflow-y: auto;

    padding: 5px;
    padding-left: 20px;

    scrollbar-color: #888 #333;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 6px;
    }
        
    &::-webkit-scrollbar-thumb {
        background-color: #8b8b8b;
        border-radius: 10px;
    }
        
    &::-webkit-scrollbar-track {
        background-color: #171717;
    }
}

.message {
    margin-bottom: 10px;
    color: #8b8b8b;
    font-size: 17px;
    min-height: 20px;
    max-width: 400px;
    white-space: pre-wrap;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    background-color: #0E0E0E;
    border-radius: 5px;
    border: 1px solid #171717;
    box-shadow: 0px 0px 6px #000000;
    padding: 3px;
    box-sizing: border-box;
}

.messageText {
    padding: 3px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.messageTime {
    padding: 2px;
    margin-top: -10px;
    font-size: 14px;
    align-self: flex-end;
}

.sender {
    margin-left: 900px;
}

.date{

}

.createChat {
    position: fixed;
    color: white;
    width: 250px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #171717;
    box-shadow: 0px 0px 6px #000000;
    background-color: #0E0E0E;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.createChat:hover {
    background-color: #333;
}

.sendMessage {
    width: 35px;
    margin-left: -40px;
    height: 33px;
    border: 1px solid #171717;

    background-color: #0E0E0E;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sendMessage:hover {
    background-color: #333;
}

.LoadingMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 150px;
}

:root {
	--hue: 223;
	--bg: hsl(var(--hue),10%,90%);
	--fg: hsl(var(--hue),10%,10%);
	font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}

.pl {
	display: block;
    margin-left: 160px;
    margin-top: 100px;
	width: 3.25em;
	height: 3.25em;
}
.pl__ring, .pl__ball {
	animation: ring 2s ease-out infinite;
}
.pl__ball {
	animation-name: ball;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,10%);
		--fg: hsl(var(--hue),10%,90%);
	}
}

@keyframes ring {
	from {
		stroke-dasharray: 0 257 0 0 1 0 0 258;
	}
	25% {
		stroke-dasharray: 0 0 0 0 257 0 258 0;
	}
	50%, to {
		stroke-dasharray: 0 0 0 0 0 515 0 0;
	}
}
@keyframes ball {
	from, 50% {
		animation-timing-function: ease-in;
		stroke-dashoffset: 1;
	}
	64% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -109;
	}
	78% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -145;
	}
	92% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -157;
	}
	57%, 71%, 85%, 99%, to {
		animation-timing-function: ease-out;
		stroke-dashoffset: -163;
	}
}